body {
  background-color:#b7fefb;
}

.container {
  border-radius: 20px;
  padding: 1%;
  background-color: #59c2e1;
}

#banner {
  width: 100%;
  height: 40px;
  background-color:white;
  position:fixed;
  margin: 0;
  padding: 1%;
  top:0;
  left: 0;
  box-shadow: 0 0 10px black;
  font: bold xx-large Consolas;
  display: inline-flex;
  vertical-align: top;
  padding-top: 8px;
}

#site-logo {
 text-decoration: none;
 color: black; 
}
