body {
  background-color:#b7fefb;
}

.container {
  border-radius: 20px;
  padding: 1% 1% 1% 1%;
  background-color: #59c2e1;
}

.container:hover {
    background-color: #00bff7;
    -webkit-transition: background-color 750ms linear;
    -ms-transition: background-color 750ms linear;
    transition: background-color 750ms linear;
}

.container:not:hover {
  background-color: #59c2e1;
  -webkit-transition: background-color 750ms linear;
  -ms-transition: background-color 750ms linear;
  transition: background-color 750ms linear;
}
